<div class="modal">
  <div class="modal-content">
    <h2>Edit Hotel 🏨</h2>

    <label>Name</label>
    <input  placeholder="Hotel name"[(ngModel)]="editedHotel.name" />

    <label>Address</label>
    <input  [(ngModel)]="editedHotel.city.name"  placeholder="Address" />

    <label>City</label>

    <select [(ngModel)]="editedHotel.city.id" >
      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
    </select>

    <label>Stars</label>
    <div class="stars">
      <ng-container *ngFor="let star of [1,2,3,4,5]">
        <svg
          (click)="editedHotel.stars=star"          [class.active]="star<=editedHotel.stars"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
        </svg>
      </ng-container>
    </div>

    <div class="actions">
      <button class="save-btn" (click)="onUpdate()">💾 Save</button>
      <button class="cancel-btn"  (click)="onClose()">❌ Cancel</button>
    </div>
  </div>
</div>
